.outerBox {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.booking {
  
    background-image: url('../../images/blackcar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(138, 138, 215);
  }
  
  .booking h1 {
    font-size: 35px;
    margin-bottom: 16px;
    text-align: center;
    /* margin: 5rem; */
    color: #c2700cea;
    padding: 5rem;
  
  
  }
  
  .booking-form-container {
    width: 500px;
    margin: 0 15%;
    padding: 20px;
   margin-bottom: 10rem;
    background-color: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .booking-form-container h2 {
    font-size: 28px;
    text-align: center;
    /* margin-bottom: 16px; */
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    font-weight: bold;
  }
  
  .form-field input {
    padding: 8px;
    border-radius: 4px;
    border: none;
  }
  
  input[type='text'],
  /* input[type='email'], */
  input[type='date'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .submit-button {
    padding: 12px 24px;
    margin-top: 16px;
    border-radius: 4px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .submit-button:hover {
    background-color: #0099cc;
  }
  
  .changeCarBtn{
    padding: 12px 24px;
    margin-top: 16px;
    border-radius: 4px;
    background-color: #00aaff;
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

  .carcard {

    background-color: rgba(242, 242, 242, 0.88);
  
     /* width: 500px; */
     
    
      border-radius: 20px;
      border: 5px solid black;
      
      /* margin-top: 8rem; */
      width: 600px;
      align-items: center;
      position:relative;
  
      transition: transform 0.3s ease;
      margin-bottom: 20rem; 
    
    }

    .carcard:hover {
      box-shadow: 0 8px 16px 0 rgba(251, 248, 248, 0.8);
      transform: translateY(-5px);
    }
    .carcard img {

      width: 600px;
      height: 400px;
      
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .carcard .textContainer {
      padding: 16px;
    }
    .carcard h1{
      font-size: 30px;
      font-weight: bold;
   
     text-align: center;
      color: #5f0202;
    }
    .carcard p {
      font-size: 18px;
    
      font-weight: bold;
      color: #333;
      align-content: center;
      text-align:center;
    }
    input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: large;
      resize: vertical;
    }
    
    label {
      padding: 8px 8px 8px 0;
      display: inline-block;
      font-size: large;
    }
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      font-size: xx-large;
      border-radius: 4px;
      cursor: pointer;
     
    }