
.carcard {

  background-color: rgba(242, 242, 242, 0.88);

   /* width: 80%; */
   height: 700px;
   
  
    border-radius: 20px;
    border: 5px solid black;
    
    margin-top: 8rem;
    width: 500px;
    align-items: center;
    position:relative;

    transition: transform 0.3s ease;
    /* margin-bottom: 12rem;  */
  
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    background-image: url("../../images/pexels-mike-bird-120049.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100vw;
    height: 700px;
    
    
  }
  

  .cars{

    margin: 10rem;
    display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
  column-gap: 8rem;
  /* align-items: center; */
  }
  
  .carcard:hover {
    box-shadow: 0 8px 16px 0 rgba(251, 248, 248, 0.8);
    transform: translateY(-5px);
  }
  
  
  .textContainer {
    padding: 2px 16px;
  }
 
  
  .carcard img {

    width: 500px;
    height: 400px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
 
  .carcard .textContainer {
    /* padding: 16px; */
  }
  .carcard h1{
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 8px; */
   text-align: center;
    color: #770707;
  }
  .carcard p {
    /* font-size: 20px; */
    /* margin-bottom: 4px; */
    /* font-weight: bold; */
    color: #333;
    align-content: center;
    text-align:center;
  }
  .carcard button {
    background-color: #092974d0;
    /* margin: 2rem; */
     position: relative;

  left: 40%;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 18px;

    border-radius: 4px;
    cursor: pointer;
 
  }
  .price {
    font-size: 25px;
    font-weight: bolder;
    color: #c80f0f;
  }

  .homePage{
    color: white;
    /* margin-top: 10rem; */
    

    
  }
  .homePage h1{
    font-size: 6rem;
    margin-top: 15rem;
  }

  .homePage p{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
